   <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/foundation.min.js"></script>
    <script src="/js/vendor/foundation.datepicker.js"></script>
    <script src="/js/vendor/responsive-tables.js"></script>
    <script src="/js/vendor/parse.sdk.js"></script>
    <script src="/js/vendor/underscore.js"></script>
    <script src="/js/vendor/moment.js"></script>
    <script src="/js/dist/combined.min.js"></script>
     <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjjqEvLoZDIFjlE6CL2z2yTsFYkwfdvKs">
    </script>


    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script>
    $(document).foundation();
    </script>
  </body>
</html>
