<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    	<title><%= typeof title === "undefined" ? "partyUp" : title %></title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/stylesheets/dist/all.min.css" />
	</head>
 	<body>
 		<header id="top-navigation">
			<div class="row">
			  <div id="logo-container" class="large-3 medium-6 small-12 columns text-center">
			    <img src="/imgs/dist/PartYuplogo.png" alt="PartyUp" height="59" width="230">
			  </div>
			</div>
		</header>
