<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    	<title><%= typeof title === "undefined" ? "partyUp" : title %></title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="/stylesheets/foundation.css" />
    	<link rel="stylesheet" href="/stylesheets/animate.css" />
    	<link rel="stylesheet" href="/stylesheets/custom.css" />
	</head>
 	<body>
 		<header>
			<div id="top-navigation" class="row">
			  <div id="logo-container" class="large-3 medium-3 small-3 columns text-center">
			    <img src="/imgs/PartYuplogo.png" alt="PartyUp" height="59" width="230">
			  </div>
			</div>
		</header>


