body{
  background-color: #263238;
}

form{
  padding-top: 100px;
}



#top-navigation{
  background-color: #171E22;
  padding-top: 50px;
  padding-bottom: 50px;
}

.default.button {
  background-color: #171E22;
}

.partyup.meter {
  background: #171E22;
}

#progressbar-container{
  padding-right: 8px;
  padding-left: 8px;
}

#map-canvas {
  height: 200px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 40em) {
  #logo-container{
    padding-top: 20px;
    padding-bottom: 40px;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */



// Medium screens
@media only screen and (min-width: 40.063em) {
  #logo-container{
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
