<form>
	<div class="row">
		<div class="large-6 medium-6 small-12 columns">
			<input type="text" id="name" placeholder="Nome">
		</div>
		<div class="large-6 medium-6 small-12 columns">
			<div class="row collapse">
				<div class="large-8 medium-8 small-8 columns">
					<input type="text" id="search-text" readonly placeholder="Imagem do Lugar">
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<a href="#" class="button postfix default" id="search-button">Buscar</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-6 medium-6 small-12 columns">
			<input type="text" id="complement" placeholder="Complemento">
		</div>
		<div class="large-6 medium-6 small-12 columns">
			<div id="map-canvas"></div>
		</div>
	</div>

	<div class="row">
		<div class="large-6 medium-6 small-12 columns">
			<div class="row collapse">
				<div class="large-8 medium-8 small-8 columns">
					<input type="text" id="filename" readonly placeholder="Imagem do Lugar">
					<input type="file" id="select-file" class="hide" >
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<a href="#" class="button postfix default" id="upload-button">Upload</a>
				</div>
			</div>

			<div id="progressbar-container" class="row hide">

				<div class="progress">
					<span class="meter partyup" id="progressbar-meter" style="width: 0%"></span>
				</div>
			</div>
		</div>
		<div class="large-6 medium-6 small-12 columns">
			<a href="#" class="button postfix default" id="save-button">Salvar</a>
		</div>
	</div>


</form>
