<form>


	<div class="row">
		<% include ../commons/_image_uploader %>

		<div class="large-6 medium-6 small-12 columns">
			<input type="text" id="place-name" placeholder="Nome">
		</div>
	</div>

	<div class="row">
		<div class="large-6 medium-6 small-12 columns">
			<div class="row collapse">
				<div class="large-8 medium-8 small-8 columns">
					<input type="text" id="search-text" placeholder="Endereço">
				</div>
				<div class="large-4 medium-4 small-4 columns">
					<a href="#" class="button postfix default" id="search-button">Buscar</a>
				</div>
			</div>
		</div>

		<div class="large-6 medium-6 small-12 columns">
			<input type="text" id="place-complement" placeholder="Complemento">
		</div>
	</div>

	<div class="row">

		<div class="large-12 medium-12 small-12 columns">
			<div id="map-canvas" class="columns"></div>
		</div>
	</div>



	<div class="row">
		<div class="small-12 large-12 medium-12 columns">
			<a href="#" class="button default columns" id="create-place-btn">Salvar</a>
		</div>
	</div>






</form>
