<% var stylesheet = "admin" %>
<% var title = "Admin Places" %>
<% include ../_header %>

<div class="row">
  <div class="large-12 medium-12 small-12 columns">

    <table class="responsive">

      <tr>
        <th>Nome</th>
        <th>Rua</th>
        <th>Cidade</th>
        <th>Estado</th>
      </tr>
        <% places.forEach(function(place) { %>
          <tr>
            <td> <%= place.get('name') %> </td>
            <td> <%= place.get('street') %> </td>
            <td> <%= place.get('city') %> </td>
            <td> <%= place.get('state') %> </td>
          </tr>
        <% }) %>

    </table>

  </div>
</div>


<% include ../_footer %>
