<div class="large-6 medium-6 small-12 columns">
  <div class="row collapse">
    <div class="large-8 medium-8 small-8 columns">
      <input type="file" id="select-file" class="hide" >
      <input type="text" id="image-name" readonly placeholder="Escolha a imagem">
    </div>
    <div class="large-4 medium-4 small-4 columns">
      <a href="#" class="button postfix default" id="upload-img-btn">Selecionar</a>
    </div>
  </div>
</div>
