<form>


	<div class="row">
		<div class="large-6 medium-6 small-12 columns">
			<select id="select-place">
				<option value="" disabled selected>Lugar</option>
				<% places.forEach(function(place) { %>
					<option value="<%= place.id %>"><%= place.get('name') %></option>
				<% }) %>
			</select>
		</div>

	<div class="large-6 medium-6 small-12 columns">
					<div class="row collapse">
						<div class="large-8 medium-8 small-8 columns">
							<input type="file" id="select-file" class="hide" >
							<input type="text" id="place-image" readonly placeholder="Imagem do Lugar">
						</div>
						<div class="large-4 medium-4 small-4 columns">
							<a href="#" class="button postfix default" id="upload-place-img-btn">Selecionar</a>
						</div>
					</div>

					<div id="progressbar-container" class="row hide">

					<div class="progress">
							<span class="meter partyup" id="progressbar-meter" style="width: 0%"></span>
					</div>
				</div>
			</div>

	</div>

	<div class="row">
		<div class="large-6 medium-6 small-12 columns">
				<input type="text" class="span2"  placeholder="Data - dd/mm/yyyy" id="datepicker"
				value="<%= party ? party.get('date') : '' %>" data-date-format="dd/mm/yyyy">
			</div>

		<div class="large-6 medium-6 small-12 columns">
			<select id="select-party-list-type">
				<option value="" disabled selected>Tipo de Lista</option>
				<option value="facebook">Facebook</option>
				<option value="email">Email</option>
			</select>
		</div>

	</div>

	<div class="row">
		<div class="large-6 medium-6 small-12 columns">
				<input id="name" type="text" placeholder="Nome" value="<%= party ? party.get('name') : '' %>" />
		</div>
		<div class="large-6 medium-6 small-12 columns hide">
				<input id="facebook-event-id"  type="text" placeholder="Facebook Event ID" />
			</div>
			<div class="large-6 medium-6 small-12 columns hide">
				<input id="event-email" type="text" placeholder="Event email" />
			</div>

	</div>

	<div class="row">

			<div class="large-6 medium-6 small-12 columns">
				<input id="male-price" type="text" placeholder="Preço Masculino" />
			</div>
			<div class="large-6 medium-6 small-12 columns">
					<input id="female-price" type="text" placeholder="Preço Feminino" />
			</div>
	</div>


	<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<textarea rows="10" cols="50" id="description" placeholder="Descrição"></textarea>
			</div>
	</div>

	<div class="row">
		<div class="large-12 medium-12 small-12 columns">
					<a href="#" class="button postfix default" id="create-party-btn">Salvar</a>
			</div>
	</div>

</form>
